## Question 1
Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

In [9]:
shopping = ['spam', 'ham', 'eggs', 'ham']

In [10]:
type(shopping)

list

Extract the second element of the list.

In [5]:
shopping[1]

'ham'

Extract the first to third (inclusive) element of the list.

In [6]:
shopping[1:4]

['ham', 'eggs', 'ham']

Extract only the last element of the list.

In [7]:
shopping[-1]

'ham'

## Question 2
Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [11]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Append Edinburgh Waverley to the end of the list

In [13]:
stops.append('Edinburgh Waverley')

Add "Queen Street" to the start of the list

In [22]:
stops.insert?

In [23]:
stops.insert(0, 'Queen Street')

In [24]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

Find out what index "Croy" is at in the list

In [25]:
stops.index('Croy')

1

Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")

In [26]:
stops.insert(4, 'Polmont')

Remove "Haymarket" from the list of stops

In [28]:
stops.remove('Haymarket')

Remove all items from stops

In [31]:
stops.clear()

In [32]:
stops

[]

Question 3
Set up the following dictionary:

In [34]:
person = {
    "name": "Steph",
    "age": 31,
    "Instructor" : True
}

Return the keys, values and items from this dictionary

In [37]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [38]:
person.values()

dict_values(['Steph', 31, True])

In [41]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

Take out only the name from it

In [43]:
person['name']

'Steph'

Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

In [48]:
person.update({"email":"steph@codeclan.com"})

In [49]:
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

Delete the job description from the dictionary

In [52]:
del person['Instructor']

In [53]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

# Question 4
For the following list of numbers:

In [103]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

Print out a list of the even integers:

In [55]:
[num for num in numbers if num % 2 == 0]

[6, 2, 2, 6]

Print the difference between the largest and smallest value:

In [62]:
def max_minus_min(x):
    x.sort()
    return x[-1] - x[0]

In [63]:
max_minus_min(numbers)

98

Print True if the list contains a 2 next to a 2 somewhere.

In [107]:
for i in range(len(numbers) - 1):
    if numbers[i] == 2 and numbers[i + 1] == 2:
        print ('True')
        
        
# not sure if its correct

True

Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [106]:
????

Object `??` not found.

# Question 5
Write a conditional that takes in two inputs :

python_is_fun = True
python_is_weird = True

In [113]:
python_is_fun = True
python_is_weird = True

if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

In [133]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

Write a function to count eggs

In [134]:
def count_eggs(x):
    total_eggs = 0
    for chicken in x :
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0
    return str(total_eggs) + " eggs collected"

In [135]:
count_eggs(chickens)

'4 eggs collected'